*.class

# Package Files #
*.jar
*.war
*.ear
*.dex
*.ap_
build*/
*.autosave
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
*.dbm
*.pem
.settings/
.directory
*.pyc
bin/
